<?xml version="1.0" encoding="UTF-8"?>
<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!-- status log4j2内部日志级别 -->
<configuration status="INFO">
    <!-- 全局参数 -->
    <Properties>
        <Property name="displayName">UserSystem</Property>
        <Property name="PATTERN">%clr{%d{yyyy-MM-dd HH:mm:ss.SSS}}{faint} %clr{%5p} %clr{${sys:PID}}{magenta} %clr{---}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan} %clr{:}{faint} %m%n%xwEx</Property>
    </Properties>
    <Appenders>
        <!--输出到控制台的Appender-->
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
                <pattern>${PATTERN}</pattern>
            </PatternLayout>
        </Console>

        <!-- 文件会打印出所有信息，这个log每次运行程序会自动清空，由append属性决定，适合临时测试用 -->
        <File name="error" fileName="logs/${displayName}_error.log" append="false">
            <!-- 指定error 级别的日志 -->
            <ThresholdFilter level="ERROR" onMatch="ACCEPT"
                             onMismatch="DENY" />
            <PatternLayout>
                <pattern>${PATTERN}</pattern>
            </PatternLayout>
        </File>

        <!-- 滚动文件 -->
        <RollingFile name="rollingFile" fileName="logs/${displayName}.log"
                     filePattern="${displayName}_%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>${PATTERN}</pattern>
            </PatternLayout>
            <!-- 按大小划分 -->
            <SizeBasedTriggeringPolicy size="20 MB" />
        </RollingFile>
    </Appenders>

    <!--Logger节点用来单独指定日志的形式，比如要为指定包下的class指定不同的日志级别等。-->
    <!--只有定义了logger并引入的appender，appender才会生效-->
    <Loggers>
        <!--Logger节点用来单独指定日志的形式-->
        <Logger name="org.springframework" level="WARN" />
        <Logger name="demo.srammy.springbootwithlog4j2" level="DEBUG" />

        <!--开启配置的日志记录-->
        <Root level="INFO">
            <AppenderRef ref="console"></AppenderRef>
            <!--如果注释掉下面这句，则不会输出LocationService_error.log-->
            <AppenderRef ref="error"></AppenderRef>
            <AppenderRef ref="rollingFile"></AppenderRef>
        </Root>
    </Loggers>
</configuration>