<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="demo.srammy.mybatismultisources.db2.dao.DepartmentDao">
    <resultMap id="BaseResultMap"  type="demo.srammy.mybatismultisources.model.Department">
        <id column="id" jdbcType="INTEGER" property="depId" />
        <result column="dep_name" jdbcType="VARCHAR" property="depName" />
        <result column="dep_no" jdbcType="INTEGER" property="depNo" />
    </resultMap>


    <select id="getDepartmentNameByDepartmentno" parameterType="int" resultMap="BaseResultMap">
         select id,dep_name,dep_no from t_department
         where dep_no = #{departmentNo}
    </select>

</mapper>